.list-title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(67, 61, 141);
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

span{
    color: rgb(240, 56, 24);
}